*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card_wrap {
width: 600px;
border: 1px solid rgb(223, 227, 231) !important;
border-radius: 8px !important;

}
.user_img{
    align-items: center;
    display: flex;
    justify-content: center;
}
.main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 2rem;
    padding-top: 2rem
}
section{
    height:100vh;
    background-color: #DAEAF1;
    
}

